<div class="investigate-computer">
    <div class="row">
        <form action="" method="get" name="invComForm">
            <div class="col-md-3 form-group">
                <label>MD5 <span translate="or"></span> SHA256</label>
                <input type="text" class="form-control" placeholder="*">
            </div>
            <div class="col-md-3 form-group">
                <label translate="File Name"></label>
                <input type="text" class="form-control" placeholder="*">
            </div>
            <div class="col-md-3 form-group">
                <label translate="CommandLine"></label>
                <input type="text" class="form-control" placeholder="*">
            </div>
            <div class="col-md-3 form-group">
                <label translate="Computer Name"></label>
                <input type="text" class="form-control" placeholder="*">
            </div>
            <div class="col-md-3 form-group">
                <label translate="Username"></label>
                <input type="text" class="form-control" placeholder="*">
            </div>
            <div class="col-md-3 form-group">
                <label translate="Time Range"></label>
                <select class="form-control">
                    <option value="" translate="Within 24 Hours"></option>
                    <option value="" translate="Within a Week"></option>
                    <option value="" translate="Within a Month"></option>
                    <option value="" translate="Specify Time Range"></option>
                </select>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary" translate="Search"></button>
            </div>
        </form>
    </div>
</div>