<div class="investigate-computer">
    <div class="row">
        <form action="" method="get" name="invComForm">
            <div class="col-md-3 form-group">
                <label>MD5 or SHA256</label>
                <input type="text" class="form-control" placeholder="*">
            </div>
            <div class="col-md-3 form-group">
                <label>File Name</label>
                <input type="text" class="form-control" placeholder="*">
            </div>
            <div class="col-md-3 form-group">
                <label>CommandLine</label>
                <input type="text" class="form-control" placeholder="*">
            </div>
            <div class="col-md-3 form-group">
                <label>Computer Name</label>
                <input type="text" class="form-control" placeholder="*">
            </div>
            <div class="col-md-3 form-group">
                <label>UserName</label>
                <input type="text" class="form-control" placeholder="*">
            </div>
            <div class="col-md-3 form-group">
                <label>Time range</label>
                <select class="form-control">
                    <option value="">Within 24 Hours</option>
                    <option value="">Within a Week</option>
                    <option value="">Within a Month</option>
                    <option value="">Specify Time Range</option>
                </select>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">Search</button>
            </div>
        </form>
    </div>
</div>