<div class="investigate-ip" ng-controller="investigate_ip">
    <div class="row">
        <form action="" method="get" name="invIpForm">
            <div class="col-md-3 form-group">
                <label>Domain</label>
                <input type="text" class="form-control" placeholder="*">
            </div>
            <div class="col-md-3 form-group">
                <label>IP</label>
                <input type="text" class="form-control" placeholder="*">
            </div>
            <div class="col-md-3">
                <label>Time range</label>
                <select class="form-control">
                    <option value="">Within 24 Hours</option>
                    <option value="">Within a Week</option>
                    <option value="">Within a Month</option>
                    <option value="">Specify Time Range</option>
                </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success">Search</button>
            </div>
        </form>
    </div>

    <div class="row">
        <panel>
            <table class="table table-striped table-hover bootstrap-datatable datatable responsive dataTable">
                <thead>
                <tr>
                    <th>Computer</th>
                    <th>Status</th>
                    <th>IP Address</th>
                    <th>OS</th>
                    <th>The Earlist Visit</th>
                    <th>The Lastest Visit</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="result in results">
                    <td ng-bind="result.name"></td>
                    <td><span ng-bind="result.status"
                              class="label label-{{ comStatStyle[result.status.toLowerCase()] }}"></span></td>
                    <td ng-bind="result.ip"></td>
                    <td ng-bind="result.os"></td>
                    <td ng-bind="result.earliestVisit"></td>
                    <td ng-bind="result.latestVisit"></td>
                </tr>
                </tbody>
            </table>
        </panel>
    </div>
</div>