<div class="investigate-ip" ng-controller="investigate_ip">
    <div class="row">
        <form action="" method="get" name="invIpForm">
            <div class="col-md-3 form-group">
                <label translate="Domain"></label>
                <input type="text" class="form-control" placeholder="*">
            </div>
            <div class="col-md-3 form-group">
                <label>IP</label>
                <input type="text" class="form-control" placeholder="*">
            </div>
            <div class="col-md-3">
                <label translate="Time Range"></label>
                <select class="form-control">
                    <option value="">Within 24 Hours</option>
                    <option value="">Within a Week</option>
                    <option value="">Within a Month</option>
                    <option value="">Specify Time Range</option>
                </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" translate="Search"></button>
            </div>
        </form>
    </div>

    <div class="result-table">
            <table class="table table-striped table-hover bootstrap-datatable datatable responsive dataTable">
                <thead>
                <tr class="bg-grey">
                    <th translate="Computer"></th>
                    <th translate="Status"></th>
                    <th translate="IP Address"></th>
                    <th translate="OS"></th>
                    <th translate="The Earlist Visit"></th>
                    <th translate="The Lastest Visit"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="result in results">
                    <td ng-bind="result.name"></td>
                    <td><span ng-bind="result.status"
                              class="label label-{{ comStatStyle[result.status.toLowerCase()] }}"></span></td>
                    <td ng-bind="result.ip"></td>
                    <td ng-bind="result.os"></td>
                    <td ng-bind="result.earliestVisit"></td>
                    <td ng-bind="result.latestVisit"></td>
                </tr>
                </tbody>
            </table>
            <div class="col-md-12 center-block">
                <uib-pagination total-items="pagination.total"
                                items-per-page="pagination.paginate_by"
                                ng-model="pagination.page"
                                max-size="pagination.maxPageSize"
                                class="pagination-sm" boundary-links="true"
                                force-ellipses="true" ng-change="pageChanged(pagination.page)">
                </uib-pagination>
            </div>
    </div>
</div>