<div class="investigate-file">
    <div class="row">
        <form action="" method="get" name="invComForm">
            <div class="col-md-3 form-group">
                <label translate="File Name"></label>
                <input type="text" class="form-control" placeholder="*">
            </div>
            <div class="col-md-3 form-group">
                <label>MD5 <span translate="or"></span> SHA256</label>
                <input type="text" class="form-control" placeholder="*">
            </div>
            <div class="col-md-3 form-group">
                <label translate="CommandLine"></label>
                <input type="text" class="form-control" placeholder="*">
            </div>
            <div class="col-md-3 form-group">
                <label translate="Computer Name"></label>
                <input type="text" class="form-control" placeholder="*">
            </div>
            <div class="col-md-3 form-group">
                <label translate="Time Range"></label>
                <select class="form-control">
                    <option value="" translate="Within 24 Hours"></option>
                    <option value="" translate="Within a Week"></option>
                    <option value="" translate="Within a Month"></option>
                    <option value="" translate="Specify Time Range"></option>
                </select>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary" translate="Search"></button>
            </div>
        </form>
    </div>

    <div class="result-table">
        <panel title="Detail">
            <table class="table table-striped table-hover bootstrap-datatable datatable responsive dataTable">
                <thead>
                <tr class="bg-grey">
                    <th translate="Hash"></th>
                    <th translate="File Name"></th>
                    <th translate="Computer Count"></th>
                    <th translate="The Earlist Visit"></th>
                    <th translate="The Lastest Visit"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="result in results">
                    <td ng-bind="result.name"></td>
                    <td><span ng-bind="result.Status"
                              class="label label-{{ comStatStyle[result.status.toLowerCase()] }}"></span></td>
                    <td ng-bind="result.ip"></td>
                    <td ng-bind="result.os"></td>
                    <td ng-bind="result.earliestVisit"></td>
                    <td ng-bind="result.latestVisit"></td>
                </tr>
                </tbody>
            </table>
            <div class="col-md-12 center-block">
                <uib-pagination total-items="pagination.total"
                                items-per-page="pagination.paginate_by"
                                ng-model="pagination.page"
                                max-size="pagination.maxPageSize"
                                class="pagination-sm" boundary-links="true"
                                force-ellipses="true" ng-change="pageChanged(pagination.page)">
                </uib-pagination>
            </div>
        </panel>



        <panel title="Computer List">
            <table class="table table-striped table-hover bootstrap-datatable datatable responsive dataTable">
                <thead>
                <tr class="bg-grey">
                    <th translate="Time"></th>
                    <th translate="Hash"></th>
                    <th translate="File Name"></th>
                    <th translate="Computer Name"></th>
                    <th translate="IP Address"></th>
                    <th translate="User"></th>
                    <th translate="Process"></th>
                    <th translate="PID"></th>
                    <th translate="status"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="result in results">
                    <td ng-bind="result.dateAdded"></td>
                    <td ng-bind="result.hash"></td>
                    <td ng-bind="result.name"></td>
                    <td ng-bind="result.computer.name"></td>
                    <td ng-bind="result.computer.ip"></td>
                    <td ng-bind="result.user.username"></td>
                    <td ng-bind="result.process.name"></td>
                    <td ng-bind="result.process.pid"></td>
                    <td >
                        <a data-target="#" href="#" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                            <span class="label label-default label-{{ alarmStyle[alert.status] || default }}" ng-switch
                                  on="alert.status">
                                <span ng-switch-when="new" translate="new alarm"></span>
                                <span ng-switch-default translate="{{alert.status}}"></span>
                            </span>
                        </a>

                    </td>
                </tr>
                </tbody>
            </table>
            <div class="col-md-12 center-block">
                <uib-pagination total-items="pagination.total"
                                items-per-page="pagination.paginate_by"
                                ng-model="pagination.page"
                                max-size="pagination.maxPageSize"
                                class="pagination-sm" boundary-links="true"
                                force-ellipses="true" ng-change="pageChanged(pagination.page)">
                </uib-pagination>
            </div>
        </panel>
    </div>
</div>