<div class="investigate-ioc" ng-controller="investigate_ioc">
    <div class="row">
        <form action="" method="get" name="invIocForm">
            <div class="col-md-3 form-group">
                <input type="file" class="form-control" placeholder="*">
                <div class="padding10">Download <a href="/static/files/ioc_template">Example</a></div>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success">Upload</button>
            </div>
        </form>
    </div>
</div>