<div class="settings_basic" ng-controller="settings_basic">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header page-header-first"><h4>Timezone</h4></div>
        </div>
        <div class="col-md-4">
            <span ng-if="!isChangeZone">{{configs.timeZone}}</span>
            <select ng-if="isChangeZone" ng-model="configs.timeZone">
                <option ng-repeat="tz in tzs" ng-value="tz" ng-selected="tz === configs.timeZone">
                    {{tz}}
                </option>
            </select>
        </div>
        <div class="col-md-8">
            <button class="btn btn-primary btn-sm" ng-click="clickChangeZone()">{{tzBtnText}}</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="page-header"><h4>Default Analysis Profile</h4></div>
        </div>
        <div class="col-md-4">
            <span ng-if="!isChangeProfile">{{configs.profile}}</span>
            <select ng-if="isChangeProfile" ng-model="configs.profile">
                <option ng-repeat="p in profiles" ng-value="p" ng-selected="p === configs.profile">
                    {{p}}
                </option>
            </select>
        </div>
        <div class="col-md-8">
            <button class="btn btn-default btn-primary btn-sm" ng-click="clickChangeProfile()">{{profileBtnText}}
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="page-header"><h4>File Hashing</h4></div>
        </div>
        <div class="col-md-4">Algorithm</div>
        <div class="col-md-8">
            <span ng-repeat="fh in fileHashs">
                <label class="radio-inline">
                    <input type="radio" ng-value="fh.value" ng-model="configs.fileHash"
                           ng-checked="configs.fileHash === fh.value" ng-change="changeAlgorithm()">
                    {{fh.title}} &nbsp;
                </label>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 quarantine-setting">
            <div class="page-header"><h4>Endpoint Quarantine</h4></div>
            <div><p>Alert endpoint user when Quarantine is activated</p></div>
            <div class="form-group">
                <p><input type="checkbox" ng-model="quarantineAlert"> Display alert Message on the endpoint (Characters
                    Left: {{quarantineAlertText.length || 0}} / Character
                    Max:255)</p>
                <textarea class="form-control" rows="3" maxlength="255" ng-model="quarantineAlertText" ng-show="quarantineAlert"></textarea>
            </div>
            <div><button class="btn btn-primary btn-sm">Save</button></div>
            <hr>
            <h5>Configure quarantine whitelist</h5>
            <div class="alert alert-warning alert-dismissible fade in quarantine-warning" role="alert">
                <strong>Warning: </strong> 计算机被隔离后，该计算机只能和下面IP列表中的设备通讯，请确保设置的IP地址中包含了所有需要的设备的IP地址，比如和您指定的计算机完成通讯需要的VPN、代理、DHCP以及DNS的IP地址等。
            </div>
            <div class="form-group">
                <label>IP Address (comma separated)</label>
                <input type="text" class="form-control" ng-model="quarantineWhitelist">
            </div>
            <div><button class="btn btn-primary btn-sm">Save</button></div>
        </div>
    </div>
</div>