<div class="settings_basic">
    <div class="row">
        <div class="col-md-12"><div class="page-header page-header-first"><h4>Timezone</h4></div></div>
        <div class="col-md-4">America/Los Angelos</div>
        <div class="col-md-8">
            <button class="btn btn-primary btn-sm">Change Timezone</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12"><div class="page-header"><h4>Default Analysis Profile</h4></div></div>
        <div class="col-md-4">America/Los Angelos</div>
        <div class="col-md-8">
            <button class="btn btn-default btn-primary btn-sm">Change Default Profile</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12"><div class="page-header"><h4>File Hashing</h4></div></div>
        <div class="col-md-4">Algorithm</div>
        <div class="col-md-8">
            <label class="radio-inline">
                <input type="radio" name="fileHash" value="md5">
                MD5
            </label>
            <label class="radio-inline">
                <input type="radio" name="fileHash" value="SHA256_and_MD5">
                SHA256 & MD5
            </label>
        </div>
    </div>
</div>