<div class="settings_profile" ng-controller="settings_profile">
    <div class="row">
        <div class="col-md-6">
            <div class="well profile-setting-info">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><span class="glyphicon glyphicon-info-sign"></span></a>
                    </div>
                    <div class="media-body">
                        <p><strong>填写右侧所需信息添加配置文件</strong></p>
                        <p><strong>选中下表中的配置文件做删除</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <form name="profileForm">
                    <label>Profile Name</label>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Description(Character Max: 30)</label>
                                <textarea class="form-control" maxlength="30" rows="2" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="file" class="form-control" required>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary" ng-click="addProfile()">add</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box col-md-12">
            <panel title="Profiles">
                <button class="btn btn-danger btn-primary btn-sm" ng-click="removeProfiles()">Remove</button>
                <table class="table table-striped table-hover bootstrap-datatable datatable responsive">
                    <thead>
                    <tr>
                        <th><input type="checkbox" ng-model="toRemoveAll" ng-click="checkAll()"></th>
                        <th>Profile Name</th>
                        <th>Description</th>
                        <th>File</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in profiles">
                        <td><input type="checkbox" ng-model="item.toRemove"></td>
                        <td ng-bind="item.name"></td>
                        <td ng-bind="item.description"></td>
                        <td><a ng-href="item.url" class="text-info"><span class="glyphicon glyphicon-file"></span></a></td>
                    </tr>
                    </tbody>
                </table>
            </panel>
        </div>
    </div>
</div>