<div class="settings_user" ng-controller="settings_user">
    <div class="row">
        <div class="col-md-6">
            <div class="well user-setting-info">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><span class="glyphicon glyphicon-info-sign"></span></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" translate="Edit User Permissions"></h4>
                        <br>
                        <p>
                            点击用户修改权限。你也可以添加或者删除用户。<br>
                            用户可以拥有以下权限:
                        </p>
                        <ul class="list-inline">
                            <li><b>&middot;</b> <span translate="User"></span></li>
                            <li><b>&middot;</b> <span translate="Admin"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <form name="userForm">
                    <p>
                        <label translate="Add User"></label>
                        <small>(<span translate="All fields are required"></span>)</small>
                    </p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="email" name="username" class="form-control" placeholder="{{'Enter Email'|translate}}"
                                       ng-model="userFormData.username" required>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="password" name="password" class="form-control" placeholder="{{'Enter Password'|translate}}"
                                       ng-model="userFormData.password" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="pwdError">
                        <div class="row">
                            <div class="col-md-12 text-danger">
                                密码必须包含大小写字母、数字、符号，长度不小于8
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-control" name="admin" ng-model="userFormData.admin" required>
                                    <option value=0 translate="User"></option>
                                    <option value=1 translate="Admin"></option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary" ng-click="addUser()" translate="Add"
                                        ng-disabled="userForm.username.$error.required || userForm.username.$invalid
                                            || userForm.password.$error.required || userForm.admin.$error.required">

                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-user"></i> <span translate="Users"></span></h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                class="glyphicon glyphicon-chevron-up"></i></a>
                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
                <div class="box-content" style="display: block;">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-sm btn-danger" ng-click="removeUsers()"
                                        translate="Remove"></button>
                            </div>
                            <!--<div class="col-md-6">-->
                                <!--<div class="col-md-6 col-md-offset-6">-->
                                    <!--<div class="dataTables_filter" id="DataTables_Table_0_filter">-->
                                        <!--<label>-->
                                            <!--<span translate="Search"></span>:-->
                                            <!--<input type="text" aria-controls="DataTables_Table_0"-->
                                                   <!--ng-model="searchedUser">-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                        <table class="table table-striped table-hover bootstrap-datatable datatable responsive dataTable"
                               id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                            <thead>
                            <tr role="row">
                                <th>
                                    <input type="checkbox" ng-model="toRemoveAll" ng-click="checkAll()">
                                </th>
                                <th class="sorting_asc" role="columnheader" tabindex="0"
                                    aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending"
                                    aria-label="Username: activate to sort column descending"
                                    translate="Username">
                                </th>
                                <th class="sorting" role="columnheader" tabindex="0"
                                    aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                    aria-label="Role: activate to sort column ascending"
                                    translate="Role">
                                </th>
                                <th class="sorting" role="columnheader" tabindex="0"
                                    aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                    aria-label="Status: activate to sort column ascending"
                                    translate="Status">
                                </th>
                                <th class="sorting" role="columnheader" tabindex="0"
                                    aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                    aria-label="Date registered: activate to sort column ascending"
                                    translate="Date registered">
                                </th>
                                <th class="sorting" role="columnheader" tabindex="0"
                                    aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                    aria-label="Added By: activate to sort column ascending" translate="Added By">
                                </th>
                            </tr>
                            </thead>

                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                            <tr ng-repeat="user in users | filter:searchedUser">
                                <td><input type="checkbox" ng-model="user.toRemove"></td>
                                <td class=" sorting_1">{{ user.username }}</td>
                                <td class="center " ng-switch on="user.admin">
                                    <span class="text-info" ng-switch-when="true" translate="Admin"></span>
                                    <span class="text-warning" ng-switch-when="false" translate="User"></span>
                                </td>
                                <td class="center " ng-switch on="user.active">
                                    <span class="label label-success" ng-switch-when="true" translate="Active"></span>
                                    <span class="label label-default" ng-switch-when="false" translate="Deleted"></span>
                                </td>
                                <td class="center ">{{ user.dateAdded }}</td>
                                <td class="center ">{{ user.addedBy.username }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12 center-block">
                                <uib-pagination total-items="pagination.total"
                                                items-per-page="pagination.paginate_by"
                                                ng-model="pagination.page"
                                                max-size="pagination.maxPageSize"
                                                class="pagination-sm" boundary-links="true"
                                                force-ellipses="true" ng-change="pageChanged(pagination.page)">
                                </uib-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>