<div class="threats-file" ng-controller="threatsFile">
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="#" translate="Alerts"></a>
            </li>
            <li>
                <a href="#" translate="Suspect File"></a>
            </li>
        </ul>
    </div>
    <div class="page-header">
        <h3 class="padding-top10">
            <span ng-bind="file.name"></span>
        </h3>
    </div>
    <div class="row file-detail">
        <div class="col-xs-4 sep-right section">
            <div class="col-md-12 sep-bottom main">
                <div class="row padding-left15">
                    <div class="col-md-1 text-danger"><span class="glyphicon glyphicon-file"></span></div>
                    <div class="col-md-11">
                        <div><label class="media-heading" translate="File Name"></label>: asdfasf</div>
                        <div><label class="media-heading" translate="Hash"></label>: asdfasf</div>
                        <div><label class="media-heading" translate="Path"></label>: asdfasf</div>
                        <div><label class="media-heading" translate="Size"></label>: asdfasf</div>
                    </div>
                </div>
                <div class="row padding-bottom10 padding-left15">
                    <div class="col-md-1 text-danger"><span class="iconfont icon-computer"></span></div>
                    <div class="col-md-11">
                        <div>
                            <label class="media-heading" translate="Computer"></label>
                            <a class="text-info" data-toggle="modal" data-target="#comModal">: asdfasf</a>
                        </div>
                        <div><label class="media-heading" translate="IP Address"></label>: asdfasf</div>
                        <div><label class="media-heading" translate="Domain"></label>: asdfasf</div>
                        <div><label class="media-heading" translate="Group"></label>: asdfasf</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 padding-top15">
                <div><label translate="First Found In the Latest Year"> </label>: <span translate=""></span></div>
                <div><label translate="Last Found"></label>: <span translate=""></span></div>
            </div>

        </div>
        <div class="col-xs-4 sep-right section">
            <div><label translate="Create Time"></label>: <span></span></div>
            <div><label translate="Signature"></label>: <span></span></div>
            <div><label translate="Signature Publish"></label>: <span></span></div>
            <div><label translate="Network"></label>: <span></span></div>
        </div>
        <div class="col-xs-4 section">
            <button class="btn btn-success" ng-click="addToWhitelist(file)"><span class="glyphicon glyphicon-ok"></span>
                <span translate="Add to Whitelist"></span>
            </button>
        </div>
    </div>

    <div class="comModal" id="comModal" datasource="computer"></div>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills threats-nav" role="tablist">
                <li role="presentation" class="active">
                    <a href="#path" aria-controls="home" role="tab" data-toggle="tab" translate="Affected Path"></a>
                </li>
                <li role="presentation">
                    <a href="#currCom" aria-controls="profile" role="tab" data-toggle="tab"
                       translate="Current Affected Computer"></a>
                </li>
                <li role="presentation">
                    <a href="#histCom" aria-controls="messages" role="tab" data-toggle="tab"
                       translate="History Affected Computer"></a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="path">
                    <panel class="affect-path-panel" title="sadfasdf">
                        <div class="col-md-12" ng-class="{'col-md-9': sideDetailShow}">
                            asdfas;dfkjas;dfjas;dfa
                        </div>
                        <div ng-if="sideDetailShow" class="col-md-3 side-detail-box">
                            <ul class="list-group side-detail">
                                <li class="list-group-item">
                                    <h4><span class="glyphicon glyphicon-cog"></span><span> dadfasf</span></h4>
                                </li>
                                <li class="list-group-item">
                                    <p><span class="glyphicon glyphicon-time"></span> 1927-7-12 11:11:03</p>
                                    <p><label>Summary: </label> Lunar</p>
                                    <p><label>Description: </label> test test setstadf asdfasdfsafa fsdafa</p>
                                    <p><label>Computer Name: </label> Lunar</p>
                                    <p><label>IP Address: </label> Lunar</p>
                                    <p><label>User Name: </label> Lunar</p>
                                    <p><label>SID: </label> Lunar</p>
                                </li>
                            </ul>
                        </div>
                    </panel>
                </div>
                <div role="tabpanel" class="tab-pane" id="currCom">
                    <div class="computerTable" datasource="currAffectedComs"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="histCom">
                    <div class="computerTable" datasource="histAffectedComs"></div>
                </div>
            </div>
        </div>
    </div>
</div>