<div class="threats-file" ng-controller="threatsFile">
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="#" translate="Alerts"></a>
            </li>
            <li>
                <a href="#" translate="Suspect File"></a>
            </li>
        </ul>
    </div>
    <div class="page-header">
        <h3 class="padding-top10">
            ID: <span ng-bind="alarm.alarmID"></span>
        </h3>
    </div>
    <div class="row file-detail">
        <div class="col-xs-4 sep-right section">
            <div class="col-md-12 sep-bottom main">
                <div class="row padding-left15">
                    <div class="col-md-1 text-danger"><span class="glyphicon glyphicon-file"></span></div>
                    <div class="col-md-11">
                        <div><label class="media-heading" translate="File Name"></label>: <span ng-bind="alarm.path"></span></div>
                        <div><label class="media-heading" translate="Hash"></label>: <span ng-bind="alarm.md5 || alarm.sha256"></span></div>
                        <div><label class="media-heading" translate="Path"></label>: <span ng-bind="alarm.path"></span></div>
                        <div><label class="media-heading" translate="Size"></label>: <span ng-bind="alarm.filesize"></span></div>
                    </div>
                </div>
                <div class="row padding-bottom10 padding-left15">
                    <div class="col-md-1 text-danger"><span class="iconfont icon-computer"></span></div>
                    <div class="col-md-11">
                        <div>
                            <label class="media-heading" translate="Computer"></label>
                            <a class="text-info" data-toggle="modal" data-target="#comModal">: <span ng-bind="alarm.computer.name"></a>
                        </div>
                        <div><label class="media-heading" translate="IP Address"></label>: <span ng-bind="alarm.computer.ip"></div>
                        <div><label class="media-heading" translate="Domain"></label>: <span ng-bind="alarm.computer.domain"></span></div>
                        <div><label class="media-heading" translate="Group"></label>: <span ng-bind="alarm.groups"></span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 padding-top15">
                <div><label translate="First Found In the Latest Year"> </label>: <span ng-bind="alarm.earliest_found"></span></div>
                <div><label translate="Last Found"></label>: <span ng-bind="alarm.latest_found"></span></div>
            </div>

        </div>
        <div class="col-xs-4 sep-right section">
            <div><label translate="Create Time"></label>: <span ng-bind="alarm.time"></span></div>
            <div><label translate="Signature"></label>: <span></span></div>
            <div><label translate="Signature Publish"></label>: <span></span></div>
            <div><label translate="Network"></label>: <span></span></div>
        </div>
        <div class="col-xs-4 section">
            <button class="btn btn-success" ng-click="addToWhitelist(file)"><span class="glyphicon glyphicon-ok"></span>
                <span translate="Add to Whitelist"></span>
            </button>
        </div>
    </div>

    <div class="comModal" id="comModal" datasource="computer"></div>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills threats-nav" role="tablist">
                <li role="presentation" class="active">
                    <a href="#path" aria-controls="home" role="tab" data-toggle="tab" translate="Affected Path"></a>
                </li>
                <li role="presentation">
                    <a href="#currCom" aria-controls="profile" role="tab" data-toggle="tab"
                       translate="Current Affected Computer"></a>
                </li>
                <li role="presentation">
                    <a href="#histCom" aria-controls="messages" role="tab" data-toggle="tab"
                       translate="History Affected Computer"></a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="path">
                    <panel class="affect-path-panel" title="sadfasdf">
                        <div class="col-md-12" ng-class="{'col-md-9': sideDetailShow}">
                            asdfas;dfkjas;dfjas;dfa
                        </div>
                        <div ng-if="sideDetailShow" class="col-md-3 side-detail-box">
                            <ul class="list-group side-detail">
                                <li class="list-group-item">
                                    <h4><span class="glyphicon glyphicon-cog"></span><span> dadfasf</span></h4>
                                </li>
                                <li class="list-group-item">
                                    <p><span class="glyphicon glyphicon-time"></span> 1927-7-12 11:11:03</p>
                                    <p><label>Summary: </label> Lunar</p>
                                    <p><label>Description: </label> test test setstadf asdfasdfsafa fsdafa</p>
                                    <p><label>Computer Name: </label> Lunar</p>
                                    <p><label>IP Address: </label> Lunar</p>
                                    <p><label>User Name: </label> Lunar</p>
                                    <p><label>SID: </label> Lunar</p>
                                </li>
                            </ul>
                        </div>
                    </panel>
                </div>
                <div role="tabpanel" class="tab-pane" id="currCom">

    <table class="table table-striped table-hover table-bordered bootstrap-datatable responsive">
        <thead>
        <tr class="bg-grey">
            <td ng-if="!tableCheckHide">
            </td>
            <th translate="Computer Name"></th>
            <th translate="Status"></th>
            <th translate="IP Address"></th>
            <th translate="OS"></th>
            <th translate="Last Communicated"></th>
            <th translate="Protected Time Started"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in currAffectedComs">
            <td ng-if="!tableCheckHide"><input type="checkbox" ng-model="item.checked" ng-click="check()">
            </td>
            <td>
                <a class="text-info" data-toggle="modal" data-target="#comModal" ng-bind="item.name" ng-click="clickCom(item)"></a>
            </td>
            <td>
                <span ng-bind="item.status.toUpperCase()" class="label label-{{ comStatStyle[item.status.toLowerCase()] }}"></span>
            </td>
            <td ng-bind="item.ip"></td>
            <td ng-bind="item.os"></td>
            <td ng-bind="item.last_communicated_time"></td>
            <td ng-bind="item.start_time"></td>
        </tbody>
    </table>


                </div>
                <div role="tabpanel" class="tab-pane" id="histCom">


    <table class="table table-striped table-hover table-bordered bootstrap-datatable responsive">
        <thead>
        <tr class="bg-grey">
            <td ng-if="!tableCheckHide">
            </td>
            <th translate="Computer Name"></th>
            <th translate="Status"></th>
            <th translate="IP Address"></th>
            <th translate="OS"></th>
            <th translate="Last Communicated"></th>
            <th translate="Protected Time Started"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in histAffectedComs">
            <td ng-if="!tableCheckHide"><input type="checkbox" ng-model="item.checked" ng-click="check()">
            </td>
            <td>
                <a class="text-info" data-toggle="modal" data-target="#comModal" ng-bind="item.name" ng-click="clickCom(item)"></a>
            </td>
            <td>
                <span ng-bind="item.status.toUpperCase()" class="label label-{{ comStatStyle[item.status.toLowerCase()] }}"></span>
            </td>
            <td ng-bind="item.ip"></td>
            <td ng-bind="item.os"></td>
            <td ng-bind="item.last_communicated_time"></td>
            <td ng-bind="item.start_time"></td>
        </tbody>
    </table>
                </div>
            </div>
        </div>
    </div>
</div>