<div>
    <div class="panel-body" ng-if="!tableCheckHide" style="border: 1px solid #dddddd; padding: 10px;">
        <input type="checkbox" ng-model="selectAll" ng-click="checkAll(selectAll)">&nbsp;
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#addProfileModal"
                    translate="Add profile to computers"></button>
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#addGroupModal"
                    translate="Add group to computers"></button>
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#upgradeSensorModal"
                    translate="Upgrade sensor"></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="uninstallSensor()"
                    translate="Uninstall sensor"></button>
        </div>
    </div>

    <table class="table table-striped table-hover table-bordered bootstrap-datatable responsive">
        <thead>
        <tr class="bg-grey">
            <td ng-if="!tableCheckHide">
            </td>
            <th translate="Computer Name"></th>
            <th translate="Status"></th>
            <th translate="IP Address"></th>
            <th translate="OS"></th>
            <th translate="Last Communicated"></th>
            <th translate="Protected Time Started"></th>
            <th ng-if="queryTitle === 'comProfile'" translate="Profile"></th>
            <th ng-if="queryTitle === 'comGroup'" translate="Group"></th>
            <th ng-if="queryTitle === 'comSensor'" translate="Sensor Version"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in data">
            <td ng-if="!tableCheckHide"><input type="checkbox" ng-model="item.checked" ng-click="check()">
            </td>
            <td><a class="text-info" ng-bind="item.sensorID" ui-sref="computer_detail({id: item.id})"></a></td>
            <td>
                <span ng-bind="item.status" class="label label-{{ comStatStyle[item.status.toLowerCase()] }}"></span>
            </td>
            <td ng-bind="item.ip"></td>
            <td ng-bind="item.os"></td>
            <td ng-bind="item.last_communicated_timestamp"></td>
            <td ng-bind="item.start_timestamp"></td>
            <td ng-bind="item.profile" ng-if="queryTitle === 'comProfile'"></td>
            <td ng-bind="item.group" ng-if="queryTitle === 'comGroup'"></td>
            <td ng-bind="item.sensorVersion" ng-if="queryTitle === 'comSensor'"></td>
        </tr>
        </tbody>
    </table>
    <div class="col-md-12 center-block">
        <uib-pagination total-items="pagination.total"
                        items-per-page="pagination.paginate_by"
                        ng-model="pagination.page"
                        max-size="pagination.maxPageSize"
                        class="pagination-sm" boundary-links="true"
                        force-ellipses="true" ng-change="pageChanged(pagination.page)">
        </uib-pagination>
    </div>

    <modal id="addProfileModal" title="{{'Profiles'|translate}}">
        <table class="table table-hover">
            <tr ng-repeat="item in profiles">
                <td style="padding: auto; border-top: 0;" ng-click="addProfile(item)">
                    <span class="glyphicon glyphicon-file text-info"></span>&nbsp;
                    <span ng-bind="item.title"></span>
                </td>
            </tr>
        </table>
    </modal>
    <modal id="addGroupModal" title="{{'Groups'|translate}}">
        <table class="table table-hover">
            <tr ng-repeat="item in groups">
                <td ng-bind="item.name" style="padding: auto; border-top: 0;"></td>
            </tr>
        </table>
    </modal>
    <modal id="upgradeSensorModal" title="{{'Sensor'|translate}}">
        <table class="table table-hover">
            <tr ng-repeat="item in sensor">
                <td style="padding: auto; border-top: 0;" ng-click="upgradeSensor(item)">
                    <span class="glyphicon glyphicon-screenshot text-info"></span>&nbsp;
                    <span ng-bind="item.name"></span>
                </td>
            </tr>
        </table>
    </modal>
</div>