<div>
    <table class="table table-striped table-hover table-bordered bootstrap-datatable datatable responsive">
        <thead>
        <tr class="bg-grey">
            <th>Computer Name</th>
            <th>Last Communicated</th>
            <th>Added Time</th>
            <th>OF Threats</th>
            <th>Status</th>
            <th ng-if="queryTitle === 'comProfile'">Profile</th>
            <th ng-if="queryTitle === 'comGroup'">Group</th>
            <th ng-if="queryTitle === 'comSensor'">Sensor Version</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in data">
            <td><a class="text-info" ng-bind="item.name" ui-sref="computer_detail({id: item.id})"></a></td>
            <td ng-bind="item.lastCommunicated"></td>
            <td ng-bind="item.addedTime"></td>
            <td ng-bind="item.threatsCount"></td>
            <td><span ng-bind="item.status" class="label label-{{ comStatStyle[item.status.toLowerCase()] }}"></span></td>
            <td ng-bind="item.profile" ng-if="queryTitle === 'comProfile'"></td>
            <td ng-bind="item.group" ng-if="queryTitle === 'comGroup'"></td>
            <td ng-bind="item.sensor" ng-if="queryTitle === 'comSensor'"></td>
        </tr>
        </tbody>
    </table>
</div>