a, a:hover,
a:visited {
    text-decoration: none;
}

.padding10 {
    padding: 10px;
}

footer {
    padding: 32px;
    margin-bottom: 0;
}

.margintopbar {
    margin-top: 65px;
}

#threatsChart {
    min-height: 450px;
}

.historyAlerts {
    padding: 15px;
}

#historyAlerts {
    padding-top: 15px;
}

#currslnALerts {
    padding-top: 15px;
}

.settings_basic .page-header-first {
    margin-top: 0;
}

/*.overview .page-header:first-child{*/
/*margin-top: 21px;*/
/*}*/

.user-setting-info,
.profile-setting-info {
    min-height: 176px;
}

form[name=invComForm] .btn,
form[name=invIpForm] .btn {
    margin-top: 25px;
}

/*settings group*/
#groupTree .list-group .list-group-item {
    border: 0;
    border-radius: 0;
}