{% extends "layout.html" %}

{% block content%}
<div class="margintopbar" ng-controller="computers">
    <div ui-view="computer">
        <div class="page-header"><h3 translate="Computer List"></h3></div>
        <div class="navbtn padding-bottom15" datasource="comTabs" selectedIndex="0"></div>

        <div class="row" ng-show="selectedTab==='Protected'">
            <form method="get" name="protectedComForm">
                <div class="col-md-2 form-group">
                    <label translate="Computer Name"></label>
                    <input type="text" class="form-control" name="name__like" placeholder="*"
                           ng-model="query.name__like" ng-readonly="queryTitle != 'name__like'" ng-mousedown="activateQuery('name__like')">
                </div>
                <div class="col-md-2 form-group">
                    <label translate="Profile"></label>
                    <select name="profile" class="form-control" ng-model='query.profile'
                            ng-readonly="queryTitle != 'profile'" ng-mousedown="activateQuery('profile')">
                        <option value="" translate="All"></option>
                        <option ng-repeat="p in profiles" ng-bind="p.title" ng-value="p.id"></option>
                    </select>
                </div>
                <div class="col-md-2 form-group">
                    <label translate="Group"></label>
                    <select name="group" class="form-control" ng-model='query.group'
                            ng-readonly="queryTitle != 'group'" ng-mousedown="activateQuery('group')">
                        <option value="" translate="All"></option>
                    </select>
                </div>
                <div class="col-md-2 form-group">
                    <label translate="Sensor Version"></label>
                    <select name="sensorVersion" class="form-control" ng-model='query.sensorVersion'
                            ng-readonly="queryTitle != 'sensorVersion'" ng-mousedown="activateQuery('sensorVersion')">
                        <option value="" translate="All"></option>
                        <option ng-repeat="s in sensors" ng-bind="s" ng-value="s"></option>
                    </select>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary" ng-click="search()" translate="Search"></button>
                </div>
            </form>
        </div>

        <div ui-view="computerList">
            <div class="computer-table" datasource="coms"></div>
        </div>
    </div>
</div>
{% endblock content%}