{% extends "base.html" %}

{% from "macros.html" import includeJs %}
{% from "macros.html" import modal %}
{% from "macros.html" import panel %}
{% from "macros.html" import panel_box %}

{% block title%}
Huating Admin Panel
{% endblock %}

{% block navbar %}
<div ng-controller="navCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a href="javascript:void(0)" class="navbar-brand nav-title">
                <img alt="Logo" src="{%% url_for('.static', filename='img/logo.png') %%}"/>
                <span>HOOLAB</span>
            </a>
            <!--<button class="navbar-toggle" data-toggle="collpase" data-target=".nav-menu">-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
        </div>
        <div class="container">
            <div class="collapse navbar-collapse nav-menu">
                <ul class="nav navbar-nav">
                    <li ng-repeat="nav in navs" ng-class="{active: selectedNavTitle == nav.title}">
                        <a ng-href="{{nav.url}}" ng-click="selectNav(nav.title)">
                            <span class="{{nav.icon}}"></span>
                            <span translate="{{nav.title}}"></span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="modal" data-target="#infoModal"><span class="glyphicon glyphicon-flag"
                                                                              ng-class="{red: isNotified}"></span></a>
                    </li>
                    <li><a href="/logout"><span class="iconfont icon-logout menu-icon"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    {%% modal('
    <table class="table table-borded" style="margin-bottom: 0" ng-controller="notificationCtrl">
        <tr ng-repeat="item in notifications">
            <td style="padding: 10px 20px" ng-click="readNotification(item)">
                <div><h4><span ng-bind="item.title" ng-class="{\'text-muted\': item.is_read}"></span></h4></div>
                <div ng-bind="item.date" ng-class="{\'text-muted\': item.is_read}"></div>
            </td>
        </tr>
    </table>
    ',
    'Notification Center', '
    <a href="/notification/center" type="button" class="btn btn-primary btn-block"
       translate="Show More" target="_blank"></a>
    ') %%}
</div>
{% endblock navbar %}

{% block content %}
<div class="margintopbar">
    <div class="col-sm-2 col-lg-2">
        <div class="sidebar-nav">
            <div class="nav-canvas">
                <div class="nav-sm nav nav-stacked"></div>
                {% block sidebar %}
                <sidebar></sidebar>
                {% endblock sidebar %}
            </div>
        </div>
    </div>

    <div id="content" class="col-lg-10 col-sm-10">
        <!--<div>-->
        <!--<ul class="breadcrumb">-->
        <!--{% block breadcrumb %}-->
        <!--<li>-->
        <!--<a href="#">Home</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#">Tables</a>-->
        <!--</li>-->
        <!--{% endblock breadcrumb %}-->
        <!--</ul>-->
        <!--</div>-->
        {% block container %}{% endblock container %}
    </div>
</div>
{% endblock content %}

{% block footer %}
<p class="text-center">
    <small>&copy; <span translate="COPYRIGHT"></span> 2016 <span translate="HOOLAB INFORMATION TECHNOLOGY CO., LTD"></span></small>
</p>
{% endblock footer %}