{% extends 'layout.html' %}

{% block content%}
<div class="margintopbar" ng-controller="overview">
    <div class="overview">
        <div class="page-header">
            <span class="iconfont icon-computer"></span>
            <span translate="Suspect Computers"></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                {%% panel(
                '
                <div id="susComThreeMonthsChart"></div>
                ',
                'By Computers'
                ) %%}
            </div>
            <div class="col-md-6">
                {%% panel(
                '
                <div id="susComTwoWeeksChart"></div>
                ',
                'By Days'
                ) %%}
            </div>
        </div>

        <div class="page-header">
            <span class="glyphicon glyphicon-file"></span>
            <span translate="Suspect Files"></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                {%% panel(
                '
                <div id="susFileTwoWeeksChart"></div>
                ',
                'By Days'
                ) %%}
            </div>
            <div class="col-md-6">
                {%% panel(
                '
                <div id="susFileThreeMonthsChart"></div>
                ',
                'By Files'
                ) %%}
            </div>
        </div>

        <div class="page-header">
            <span class="glyphicon glyphicon-stats"></span>
            <span translate="Classified Threats"></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                {%% panel(
                '
                <div id="statsByOsChart" style="height:400px"></div>
                ',
                'By OS'
                ) %%}
            </div>
            <div class="col-md-6">
                {%% panel(
                '
                <div id="statsByGroup" style="height:400px"></div>
                ',
                'By Group'
                ) %%}
            </div>
        </div>
    </div>
</div>
{% endblock content%}