{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="{%% url_for('.static', filename='img/star-on.png') %%}">
<div class="threats margintopbar">
    <div ui-view="computer">
        <div ui-view="threats">
            <div class="row" id="threatsChart" ng-controller="threatsChartCtrl">
                <div class="col-md-6">
                    {%% panel_box(
                    '
                    <div id="threatsRealChart"></div>
                    ',
                    'Alarm Stats',
                    icon = 'glyphicon glyphicon-camera'
                    )
                    %%}
                </div>
                <div class="col-md-6">
                    {%% panel_box(
                    '
                    <div id="threatsRealChartTemp"></div>
                    ',
                    'Alarm Stats',
                    icon = 'glyphicon glyphicon-camera'
                    )
                    %%}
                </div>
            </div>

            {%% panel_box('
            <div class="row">
                <div class="col-md-12" ng-controller="threatsAlerts">
                    <div class="alarmTable" datasource="alerts"></div>
                </div>
            </div>
            ',
            'Current Alarms',
            collapse = False,
            icon = 'glyphicon glyphicon-bell'
            )
            %%}

            {%% panel_box(
            '
            <div class="row historyAlerts">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#historyAlerts" role="tab" data-toggle="tab"
                               translate="History Alarms in Three Months"></a>
                        </li>
                        <li role="presentation">
                            <a href="#currslnALerts" role="tab" data-toggle="tab"
                               translate="Current Solutions in Three Months"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="historyAlerts">
                            <div class="row">
                                <div class="col-md-12" ng-controller="historyAlerts">
                                    <div class="alarmTable" datasource="historyAlerts"></div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="currslnALerts">
                            <div class="row">
                                <div class="col-md-12" ng-controller="currSlnAlerts">
                                    <div class="alarmTable" datasource="currSlnAlerts"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            ',
            'History Alarms',
            collapse = true,
            icon = 'glyphicon glyphicon-time'
            ) %%}
        </div>
    </div>
</div>
{% endblock content %}